@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

a {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 11px;
    font-weight: lighter;
    color: #5f5d65;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top_box {
    width: 100%;
    margin: 0;
}
.comment_box {
    background-image: linear-gradient(to right, #5487f8 31%, #2946f6 100%);
    width: 100%;
    height: 200px;
    padding: 0 ;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1px;

}
.auth_nav p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: white;
    margin: 0;

}
.auth_nav {
    background-image: linear-gradient(to right, #5487f8 31%, #2946f6 100%);
    width: 100%;
    height: 50px;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

}
.titles {
    width: 70%;
    position: relative;
    top: 15%;

}
.top_comment {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}
.top_title {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}
.bluebox_rounded {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 10%;
    top: 230px;
}

.form {
    width: 80%;
    position: relative;
    margin-top: 110px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input_box {
    width: 90%;
    height: 57px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.26);
    background-color: #ffffff;
    margin: 7px 0;
    border-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 20px;
    
}
.input_des {
    /* margin-left: 20px; */
    width: 60px;
    font-family: 'Noto Sans KR', sans-serif; 
    height: 18px;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #5f5d65;
    padding-left: 2px;
}
.input_des p {
    padding-top: 1px;
    margin:0;
    font-weight: lighter;
}
input {
    width: 60%;
    height: 20px;
    border-style: none;
    margin: 0;
  }
  button {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 255px;
    height: 56px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, #556cf7, #2946f6);
    border-style: none;
    border-radius: 40px 14px 40px 14px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
.placeholder {
      padding-left: 10px;
      

  }
input::placeholder {
    padding: 20px;
  }
input:focus {
      outline: none;
}
button:focus {
      outline: none;
}
.or {
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    margin: 7px 0 ;
}
.or p {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 11px;
    font-weight: lighter;
    color: #5f5d65;
}
.gray_line {
    width: 120px;
    height: 0.7px;
    background-color: #707070;

}
.error {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: red;

}

.find-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth_etc {
    margin: 2px 0 ;
}